name: Tests with Allure Report

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions:
  contents: write
  pull-requests: write
  checks: write

jobs:
  test-and-report:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        # On force la création du dossier allure-results
        run: npm test
        continue-on-error: true

      # ÉTAPE DE VÉRIFICATION : On sauvegarde les résultats bruts
      - name: Upload Allure Results
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-results # Vérifie bien que c'est le nom du dossier généré par Jest
          retention-days: 1

      # GÉNÉRATION DU RAPPORT
      - name: Generate Allure Report
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: allure-results
          allure_report: allure-report
          allure_history: allure-history
          keep_reports: 20

      # DÉPLOIEMENT (Pour voir le rapport via une URL)
      - name: Deploy report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: allure-history