name: Tests with Allure Report

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [master]

permissions:
  pull-requests: write
  checks: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code
      - name: Checkout
        uses: actions/checkout@v4

      # 2. Setup your language/runtime
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      # 3. Install dependencies
      - name: Install dependencies
        run: npm ci

      # 4. Exécuter les tests (ils vont maintenant créer le dossier allure-results)
      - name: Run tests
        run: npm test
        continue-on-error: true

      # 5. Générer le rapport Allure à partir des résultats
      - name: Generate Allure Report
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: allure-results
          allure_report: allure-report
          allure_history: allure-history

      # 6. Poster le résumé sur GitHub (visible en bas de la page Summary)
      - name: Deploy report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: allure-history